In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("/content/mega_data_cleaning_dataset.xlsx - Sheet1.csv")
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaN,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Mle,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,UPI,4.6,Place our focus television story tonight.,Returning,NaN,App,-138.16
9998,8121,NaN,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaN,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
#1.	Identify and remove duplicate rows in the dataset.
df=df.drop_duplicates()
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaN,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Mle,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,UPI,4.6,Place our focus television story tonight.,Returning,NaN,App,-138.16
9998,8121,NaN,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaN,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
#2.	Identify and remove duplicate Customer_IDs.
df=df.drop_duplicates(subset=['Customer_ID'])
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaN,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,2919,Tyler Hunter,44,Female,Guam,Indiana,Tylerville,ashley87@yahoo.com,2021-10-23,NaN,...,6,2025-07-19,2025-07-13,Debit,2.1,NaN,New,2025-09-22,Web,3598.86
9993,8538,Harry Carter,108,Female,Tokelau,Texas,West Annaberg,uhayes@clark-webb.com,2023-09-30,Active,...,19,2025-04-15,2025-05-19,Credit,1.6,Six if soldier south support find spring.,New,2025-08-01,Web,1164.13
9994,1905,Deborah Young,128,f,Tuvalu,Tennessee,East Anthonytown,james28@yahoo.com,2020-05-04,NaN,...,19,2025-10-01,2025-04-11,UPI,2.8,Shake fill thank buy.,NaN,2025-06-11,app,6487.55
9998,8121,NaN,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaN,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
#3.	Identify and remove duplicate Emails.
df=df.drop_duplicates(subset=['Email'])
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaN,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,2919,Tyler Hunter,44,Female,Guam,Indiana,Tylerville,ashley87@yahoo.com,2021-10-23,NaN,...,6,2025-07-19,2025-07-13,Debit,2.1,NaN,New,2025-09-22,Web,3598.86
9993,8538,Harry Carter,108,Female,Tokelau,Texas,West Annaberg,uhayes@clark-webb.com,2023-09-30,Active,...,19,2025-04-15,2025-05-19,Credit,1.6,Six if soldier south support find spring.,New,2025-08-01,Web,1164.13
9994,1905,Deborah Young,128,f,Tuvalu,Tennessee,East Anthonytown,james28@yahoo.com,2020-05-04,NaN,...,19,2025-10-01,2025-04-11,UPI,2.8,Shake fill thank buy.,NaN,2025-06-11,app,6487.55
9998,8121,NaN,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaN,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [ ]:
#4.	Identify and remove duplicate Product_IDs.
df=df.drop_duplicates(subset=['Product_ID'])
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaN,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2955,675,NaN,74,Male,Netherlands Antilles,Tennessee,Lake Beverly,nicholas42@yahoo.com,2025-09-17,Active,...,3,2025-10-07,2025-01-31,up,2.7,Last building agent project view fly brother.,NaN,2025-05-02,App,2915.91
3032,1437,Paula Wheeler,111,Mle,Greenland,Connecticut,Port Emilyton,hmunoz@kent.com,2024-09-14,NaN,...,15,2025-08-09,2025-01-02,up,2.1,Almost director simple economic turn.,Returning,2025-06-01,web,8497.50
3034,3786,Karen Miller,22,f,France,NaN,West Brenda,zsmall@gmail.com,2023-05-20,NaN,...,15,2025-07-06,2025-08-26,UPI,5.1,Live assume test hear debate theory market.,New,NaN,web,6547.95
3039,201,Kirk Clayton PhD,80,f,Russian Federation,South Carolina,Andrewton,cbennett@wright.com,2022-01-24,NaN,...,5,2025-10-08,2025-08-06,Crdit,1.8,Order city officer include bag.,New,2025-01-30,Web,4788.95
3298,5796,Angel Hood,53,Mle,NaN,Arkansas,Lake Derek,omar32@yahoo.com,2021-08-19,Banned,...,15,2025-03-10,2025-06-25,Debit,5.8,Popular second song compare.,New,2025-02-28,app,4152.90

In [ ]:
#5.	Fill missing Name values with "Unknown".
df['Name'].fillna('Unknown')

0          Larry Wallace
1           Shawn Palmer
2          Daniel Cortez
3           Cindy Barber
4          William Patel
              ...
2955             Unknown
3032       Paula Wheeler
3034        Karen Miller
3039    Kirk Clayton PhD
3298          Angel Hood
Name: Name, Length: 500, dtype: object

In [ ]:
#6.	Fill missing Email values with "noemail@example.com".
df['Email'].fillna('noemail@example.com')

0       gonzalezbrandi@shaffer-lambert.com
1                 davidmendoza@hotmail.com
2                    hoffmancole@yahoo.com
3                 carpenterlinda@yahoo.com
4          blairivan@lyons-christensen.org
                       ...
2955                  nicholas42@yahoo.com
3032                       hmunoz@kent.com
3034                      zsmall@gmail.com
3039                   cbennett@wright.com
3298                      omar32@yahoo.com
Name: Email, Length: 500, dtype: object

In [ ]:
#7.	Fill missing Product_Name values with "Misc".
df['Product_Name'].fillna('Misc')

0         police
1       training
2        compare
3           miss
4           deal
          ...
2955      almost
3032       truth
3034      leader
3039        real
3298        card
Name: Product_Name, Length: 500, dtype: object

In [ ]:
#8.	Fill missing Category values with "Misc".
df['Category'].fillna('Misc')

0              Misc
1          Clothing
2              Misc
3              Misc
4       Electronics
           ...
2955    Electronics
3032           Misc
3034    Electronics
3039           Misc
3298       Clothing
Name: Category, Length: 500, dtype: object

In [ ]:
#Fill missing Feedback_Score values with the median feedback per product.
x= df.groupby('Product_ID')['Feedback_Score'].transform('median')
df['Feedback_Score'] = df['Feedback_Score'].fillna(x)
df

/tmp/ipython-input-1050604239.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Feedback_Score'] = df['Feedback_Score'].fillna(x)

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaN,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2955,675,NaN,74,Male,Netherlands Antilles,Tennessee,Lake Beverly,nicholas42@yahoo.com,2025-09-17,Active,...,3,2025-10-07,2025-01-31,up,2.7,Last building agent project view fly brother.,NaN,2025-05-02,App,2915.91
3032,1437,Paula Wheeler,111,Mle,Greenland,Connecticut,Port Emilyton,hmunoz@kent.com,2024-09-14,NaN,...,15,2025-08-09,2025-01-02,up,2.1,Almost director simple economic turn.,Returning,2025-06-01,web,8497.50
3034,3786,Karen Miller,22,f,France,NaN,West Brenda,zsmall@gmail.com,2023-05-20,NaN,...,15,2025-07-06,2025-08-26,UPI,5.1,Live assume test hear debate theory market.,New,NaN,web,6547.95
3039,201,Kirk Clayton PhD,80,f,Russian Federation,South Carolina,Andrewton,cbennett@wright.com,2022-01-24,NaN,...,5,2025-10-08,2025-08-06,Crdit,1.8,Order city officer include bag.,New,2025-01-30,Web,4788.95
3298,5796,Angel Hood,53,Mle,NaN,Arkansas,Lake Derek,omar32@yahoo.com,2021-08-19,Banned,...,15,2025-03-10,2025-06-25,Debit,5.8,Popular second song compare.,New,2025-02-28,app,4152.90

In [ ]:
#10.	Fill missing Quantity values with 1
df['Quantity'].fillna(1)

0       12
1        9
2        0
3        9
4        7
        ..
2955     3
3032    15
3034    15
3039     5
3298    15
Name: Quantity, Length: 500, dtype: int64

In [ ]:
#11.	Remove rows where Price is negative.
df = df[df['Price'] <0]

In [ ]:
#12.	Remove rows where Price is zero.
#df = df[df['Price']>=0]
#df

In [ ]:
#13.	Remove rows where Quantity is negative.
df = df[df['Quantity'] >= 0]
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
29,8701,Michelle Townsend,82,Other,Fiji,Hawaii,South Andrea,charlescarter@hotmail.com,2025-01-11,Inactive,...,11,2025-10-12,2025-02-24,Cash,1.8,Side science receive appear.,New,2025-08-16,Web,-228.25
38,4343,David Anderson,12,Male,Hong Kong,Arizona,Diazburgh,rachel82@maxwell.com,2020-01-29,Active,...,5,2025-08-06,2025-05-12,Debit,0.1,Opportunity modern difference which risk such.,New,2025-05-20,app,-65.00
44,4881,Mark Pitts,112,f,Cape Verde,Kentucky,West Sarahport,nwright@watkins.com,2020-10-14,Active,...,16,2025-08-26,2025-01-18,Crdit,3.2,NaN,VIP,2025-04-22,web,-44.96
127,6983,Roberta Caldwell,82,Mle,Burundi,Georgia,South Carl,westmorgan@gmail.com,2022-05-30,Inactive,...,6,2025-09-05,2025-03-27,Debit,5.9,NaN,VIP,NaN,Web,-29.10
137,5992,Thomas Rogers,17,Other,Central African Republic,Indiana,Jennashire,johnphillips@hotmail.com,2022-12-17,Banned,...,15,2025-03-18,2025-08-20,Credit,3.5,Fire realize until father put necessary.,NaN,2025-06-27,App,-354.00
143,2728,John Velazquez,122,f,Brazil,Iowa,Reneeshire,vbrown@hotmail.com,2020-09-21,Banned,...,18,2025-09-02,2025-01-13,UPI,0.6,Soldier money rest cut office down to.,New,2025-05-28,web,-770.40
146,897,Paul Carr,25,Female,Kenya,Minnesota,Davidland,rclark@mitchell.com,2022-08-21,Banned,...,18,2025-05-19,2025-01-10,Credit,1.3,Identify responsibility thank carry business.,NaN,2025-04-08,web,-454.50
187,6805,Annette Schultz,68,Other,NaN,New Mexico,East Martin,aphelps@russo.com,2023-12-24,Active,...,8,2025-02-11,2025-08-20,Credit,5.1,When put nor paper.,Returning,2025-07-03,app,-311.28
200,6943,Tara Brown,68,f,Pitcairn Islands,Ohio,East Jessicaview,gcollins@hill.biz,2020-09-22,Inactive,...,20,2025-09-18,2025-07-12,Credit,1.5,Computer she factor week degree.,VIP,2025-04-05,Phone,-996.60
289,7515,Cassie Davis,98,f,NaN,South Carolina,West Katherineport,delacruzcharles@cole-ortiz.info,2024-02-07,NaN,...,10,2025-09-21,2025-07-10,Debit,0.2,Skin article for current quality suffer.,New,2025-05-17,Web,-31.40
297,2796,NaN,33,Other,NaN,NaN,Codychester,brandon54@logan.com,2022-01-31,Active,...,19,2025-01-14,2025-09-27,UPI,4.2,Whom shoulder treatment popular.,NaN,2025-05-26,web,-133.76
367,6426,Lisa Howe,41,Mle,NaN,Maryland,East Darius,grantbell@gonzalez.com,2024-03-07,Banned,...,7,2025-09-16,2025-06-21,up,3.5,Game behavior sometimes find study.,New,2025-03-04,App,-319.76
382,3568,Mary Jones,27,Other,Mauritania,Kentucky,Lake Melanie,allenmurray@hotmail.com,2020-09-23,Banned,...,4,2025-05-19,2025-05-29,Credit,4.5,Station help open enjoy moment.,VIP,2025-02-07,App,-199.92
437,4401,Tracey Barrera,52,Female,Maldives,NaN,Lake Danielfurt,allenvanessa@gmail.com,2021-07-05,Active,...,19,2025-07-25,2025-09-14,Cash,2.9,Answer position threat.,Returning,2025-04-18,App,-408.88
750,1731,Andrew Hall,57,Female,NaN,Delaware,Jeffreyton,marcsimpson@wiggins-thompson.com,2023-01-20,Inactive,...,13,2025-07-30,2025-01-24,up,2.7,Available cost half a career language our inst...,Returning,NaN,App,-185.38
836,2464,NaN,66,Male,Central African Republic,Alaska,West Jessicaville,rivasjessica@hotmail.com,2020-08-17,NaN,...,3,2025-01-17,2025-10-12,up,1.2,Movement fall various week support letter smile.,New,2025-06-10,web,-112.83
869,8329,Alex Perez,54,f,Anguilla,Alabama,East Davidfurt,owensemma@casey.com,2024-03-06,Banned,...,4,2025-03-22,2025-05-13,Crdit,1.5,NaN,New,NaN,web,-57.84
1017,3088,NaN,115,f,Malaysia,NaN,Lake Frankfurt,tmartin@valdez.com,2020-03-18,Inactive,...,1,2025-03-26,2025-03-03,UPI,0.2,Military loss resource.,New,NaN,App,-36.16
1264,1207,Rebecca Andersen,129,Male,Uruguay,Alaska,West Kelli,sheila95@ruiz.com,2023-11-25,NaN,...,1,2025-04-18,2025-07-29,Debit,3.0,Them various probably benefit religious such r...,New,2025-06-28,Phone,-42.94
1705,8113,Rick Moreno,94,Mle,Andorra,West Virginia,New Jayshire,matthew29@young-blackburn.com,2022-08-19,Active,...,17,2025-03-08,2025-09-15,up,4.6,Environment bed when world.,VIP,2025-07-22,Web,-209.44
1834,170,Paula Pearson,29,Mle,Gabon,Delaware,Tonyastad,markholloway@reid-miller.com,2021-01-21,Inactive,...,2,2025-04-12,2025-04-08,Debit,1.9,Sing Democrat Republican child professor book ...,NaN,2025-08-14,App,-43.02

In [ ]:
#14.	Remove rows where Age is less than 0 or greater than 120
df = df[(df['Age'] >= 0) & (df['Age'] <= 120)]

In [ ]:
#15.	Remove rows where Feedback_Score is less than 1 or greater than 5
df = df[(df['Feedback_Score'] >= 1) & (df['Feedback_Score'] <= 5)]

In [ ]:
#16.	Remove rows where Delivery_Date is before Purchase_Date
df = df[pd.to_datetime(df['Delivery_Date']) >= pd.to_datetime(df['Purchase_Date'])]

In [ ]:
#17.	Fix typos in Gender column (e.g., "Mle" → "Male", "f" → "Female").
df['Gender'] = df['Gender'].replace({'Mle': 'Male', 'mle': 'Male', 'f': 'Female', 'F': 'Female', 'Othr': 'Other'})

In [ ]:
#18.	Fix typos in Payment_Type column.
df['Payment_Type'] = df['Payment_Type'].replace({'Cahs': 'Cash', 'CASH': 'Cash','up':'UPI','Crdit':'Credit','credit cart': 'Credit Card','debit': 'Debit Card', 'online pay': 'Online Payment'})

In [ ]:
#19.	Standardize Account_Status column (Active/Inactive/Banned).
df['Account_Status'] = df['Account_Status'].str.title()
df['Account_Status'] = df['Account_Status'].replace({'Actv': 'Active', 'Inactiv': 'Inactive', 'Banned_User': 'Banned'})

In [ ]:
#20.	Remove invalid email addresses.
df=df[df['Email'].str.contains(r'^[\w\.-]+@[\w\.-]+\.\w+$', na=False)]

In [681]:
#21.Fetch all orders where Price > 500.
orders_price=df[df['Price']>500]

In [ ]:
#22.Fetch all orders where Feedback_Score < 3.
FBS=df[df['Feedback_Score']<3]

In [ ]:
#23.Fetch all VIP customers (Customer_Loyalty = "VIP") with Total_Purchase > 1000.
vip_customers=df[(df['Customer_Loyalty'] == 'VIP') & (df['Total_Purchase']>1000)]

In [689]:
#24.Fetch all orders where Account_Status = "Banned".
df=df[df['Account_Status']=='Banned']

In [ ]:
#25.Fetch all orders delivered late (Delivery_Date - Purchase_Date > 7 days).
df['Delivery_Date'] = pd.to_datetime(df['Delivery_Date'])
df['Purchase_Date'] = pd.to_datetime(df['Purchase_Date'])
late_orders= df[(df['Delivery_Date']-df['Purchase_Date']).dt.days>7]

In [ ]:
#26.Fetch all products in the "Electronics" category.
df=df[df['Category']=='Electronics']

In [ ]:
#27.Fetch all customers from "India".
df=df[df['Country']=='India']

In [ ]:
#28.Fetch all orders where Quantity > 10.
df=df[df['Quantity'] > 10]

In [ ]:
#29.Fetch all orders where Discount > 50
df=df[df['Discount']>10]

In [ ]:
#30.Fetch all orders where Price * Quantity > 1000.
df=df[df['Price']*df['Quantity']>1000]

In [ ]:
#31.using Customer_ID, fetch all orders with the customer details
customer_df=df[['Customer_ID', 'Name', 'Email', 'Country', 'Account_Status']].drop_duplicates()

In [ ]:
#32.Using Product_ID, fetch all orders with product details.
product_df=df_customer[['Product_ID', 'Product_Name', 'Category', 'Price']].drop_duplicates()

In [ ]:
#33.Combine customer and product info into the orders table.
merged_df=df.merge(customer_df, on='Customer_ID', how='left')
merged_df=merged_df.merge(product_df, on='Product_ID', how='left')

In [ ]:
#34.Calculate total purchase per customer (sum(Price * Quantity)).
df['Total_Purchase']=df['Price'] * df['Quantity']
total_purchase=df.groupby('Customer_ID')['Total_Purchase'].sum()

In [ ]:
#35.Calculate average feedback per product.
avf=df.groupby('Product_ID')['Feedback_Score'].mean().reset_index(name='Average_Feedback')

In [ ]:
#36.Identify customers who only ordered "Electronics".
electronics_customers = df.groupby('Customer_ID')['Category'].nunique()
electronics_only = electronics_customers[electronics_customers == 1].index

In [ ]:
#37.Identify top 10 VIP customers by total purchase amount.
vip= total_purchase_per_customer.sort_values(by='Total_Purchase_Amount', ascending=True).head(10)

#top_vip = df[df.get('Customer_Loyalty') == 'VIP'].groupby('Customer_ID')['Total_Purchase'].sum().nlargest(10)

In [ ]:
#38.Identify products that were never ordered.
orderproduct=df['Product_ID'].unique()
allproduct=df[~df['Product_ID'].isin(orderproduct)]

In [ ]:
#39.Identify orders with missing customer info
missing_customer = df[df['Customer_ID'].isna()]

In [ ]:
#40.Identify orders with missing product info.
missing_product = df[df['Product_ID'].isna()]
orders_missing_product = df[df['Product_Name'].isna() | df['Category'].isna()]

In [ ]:
#41.Add a column Total_Purchase = Price * Quantity.
df['Total_Purchase'] = df['Price'] * df['Quantity']

In [ ]:
#42.Add a column Discounted_Price = Price - Discount.
df['Discounted_Price'] = df['Price'] - df['Discount']

In [ ]:
#43.Add a column Delivery_Duration = Delivery_Date - Purchase_Date.
df['Purchase_Date'] = pd.to_datetime(df['Purchase_Date'])
df['Delivery_Date'] = pd.to_datetime(df['Delivery_Date'])
df['Delivery_Duration'] = (df['Delivery_Date'] - df['Purchase_Date']).dt.days

In [ ]:
#44.Create Age_Group for customers (Child/Teen/Adult/Senior).
def age_group(age):
    if age < 13:
        return 'Child'
    elif age < 20:
        return 'Teen'
    elif age < 60:
        return 'Adult'
    else:
        return 'Senior'

df['age_group'] = df['Age'].apply(age_group)

In [ ]:
#45.Create Loyalty_Level based on total purchase.
def loyalty_level(total):
    if total < 1000:
        return 'Bronze'
    elif total < 5000:
        return 'Silver'
    elif total < 10000:
        return 'Gold'
    else:
        return 'Platinum'

df['Loyalty_Level'] = df['Total_Purchase'].apply(loyalty_level)

In [ ]:
#46.Encode Gender numerically (Male=1, Female=2, Other=3).
df['Gender_Code'] = df['Gender'].map({'Male': 1, 'Female': 2, 'Other': 3})

In [ ]:
#47.Encode Account_Status numerically.
df['Account_Status_Code'] = df['Account_Status'].map({'Active': 1, 'Inactive': 0})

In [ ]:
#48.Standardize Country names (capitalize first letters).
df['Country'] = df['Country'].str.title()

In [ ]:
#49.Standardize Payment_Type strings.
df['Payment_Type'] = df['Payment_Type'].str.strip().str.title()

In [666]:
#50.Remove leading/trailing spaces and lowercase all string columns.
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].astype(str).str.strip().str.lower()

In [682]:
#51.Find top 5 products by total revenue (Price * Quantity).
top_products = df.groupby('Product_ID')['Total_Purchase'].sum().nlargest(5)

In [696]:
#52.Find top 5 customers by total purchase.
top_5_customers=(df.groupby(['Customer_ID'])['Total_Purchase'].sum().reset_index().sort_values(by='Total_Purchase', ascending=False).head(5))

In [695]:
#53.Calculate average discount per category.
avg_dis=(df.groupby('Category')['Discount'].mean().reset_index().sort_values(by='Discount', ascending=False))

In [694]:
#54.Calculate average feedback per product category.
avg_feedback=(df.groupby('Category')['Feedback_Score'].mean().reset_index().sort_values(by='Feedback_Score', ascending=False))

In [693]:
#55.Identify the most popular payment type.
popular_payment=(df['Payment_Type'].value_counts().reset_index().rename(columns={'index':'Payment_Type','Payment_Type':'Count'}).head(1))

In [700]:
#56.Find the customer with the highest single order value.
df['Order_Value'] = df['Price'] * df['Quantity']
highest_order = df.sort_values(by='Order_Value', ascending=False).head(1)

In [699]:
#57.Identify customers who placed more than 5 orders.
customer_orders=df.groupby('Customer_ID').size()
frequent_customers=customer_orders[customer_orders > 5]

In [702]:
#58.Sort orders by Delivery_Duration descending.
df=df.sort_values(by='Delivery_Duration',ascending=False)

In [704]:
#59.Find products with maximum and minimum feedback.
mafp=df.sort_values(by='Feedback_Score', ascending=False).head(1)[['Product_ID', 'Product_Name', 'Feedback_Score']]
mifp=df.sort_values(by='Feedback_Score', ascending=True).head(1)[['Product_ID', 'Product_Name', 'Feedback_Score']]

In [706]:
#60.Group orders by Country and Category, and calculate total Total_Purchase.
TP= (df.groupby(['Country', 'Category'])['Total_Purchase'].sum().reset_index().sort_values(by='Total_Purchase',ascending=False))